$ey-font-path: "../../fonts/ey-interstate/" !default;

@import "./variables";

@font-face {
  font-family: "EYInterstate";
  src: url($ey-font-path + "EYInterstate-Light.ttf") format('truetype'),
    url($ey-font-path + "EYInterstate-Light.woff") format('woff');
  font-weight: $light-font;
  font-style: normal;
}
@font-face {
  font-family: "EYInterstate";
  src: url($ey-font-path + "EYInterstate-LightItalic.ttf") format('truetype');
  font-weight: $light-font;
  font-style: italic;
}

@font-face {
  font-family: "EYInterstate";
  src: url($ey-font-path + "EYInterstate-Regular.ttf") format('truetype'),
    url($ey-font-path + "EYInterstate-Regular.woff") format('woff');
  font-weight: $regular-font;
  font-style: normal;
}
@font-face {
  font-family: "EYInterstate";
  src: url($ey-font-path + "EYInterstate-Italic.ttf") format('truetype');
  font-weight: $regular-font;
  font-style: italic;
}

@font-face {
  font-family: "EYInterstate";
  src: url($ey-font-path + "EYInterstate-Bold.ttf") format('truetype'),
    url($ey-font-path + "EYInterstate-Bold.woff") format('woff');
  font-weight: $bold-font;
  font-style: normal;
}
@font-face {
  font-family: "EYInterstate";
  src: url($ey-font-path + "EYInterstate-BoldItalic.ttf") format('truetype');
  font-weight: $bold-font;
  font-style: italic;
}