// EY primary palette
$ey-yellow: #ffd500;
$ey-new-gray: #2e2e38;
$ey-dark-gray: #333;
$ey-gray-alternate: #646464;
$ey-gray: #808080;
$ey-gray-tint1: #999;
$ey-gray-tint2: #c0c0c0;
$ey-gray-tint3: #f0f0f0;
$black: #000;
$white: #fff;

// EY secondary palette
$ey-link-blue: #336699;
$ey-red: #f04c3e;
$ey-blue: #00a3ae;
$ey-purple: #91278f;
$ey-green: #2c973e;
$ey-lilac: #ac98db;
$ey-blue-50: #7fd1d6;
$ey-purple-50: #c893c7;
$ey-green-50: #95cb89;
$ey-lilac-50: #d8d2e0;
$ey-yellow-50: #fff27f;