// EY primary palette
$ey-yellow: #ffd500 !default;
$ey-new-gray: #2e2e38 !default;
$ey-dark-gray: #333 !default;
$ey-gray-alternate: #646464 !default;
$ey-gray: #808080 !default;
$ey-gray-tint1: #999 !default;
$ey-gray-tint2: #c0c0c0 !default;
$ey-gray-tint3: #f0f0f0 !default;
$black: #000 !default;
$white: #fff !default;

// EY secondary palette
$ey-link-blue: #336699 !default;
$ey-red: #f04c3e !default;
$ey-blue: #00a3ae !default;
$ey-purple: #91278f !default;
$ey-green: #2c973e !default;
$ey-lilac: #ac98db !default;
$ey-blue-50: #7fd1d6 !default;
$ey-purple-50: #c893c7 !default;
$ey-green-50: #95cb89 !default;
$ey-lilac-50: #d8d2e0 !default;
$ey-yellow-50: #fff27f !default;