// font-family
$ey-interstate: "EYInterstate", Arial, sans-serif;

// font-weight
$light-font: 300;
$regular-font: 400;
$bold-font: 700;
$black-font: 900;

// transition
$default-transition: .15s ease-in-out;