@import "../../assets/scss/abstracts/ey-colors";
@import "../../assets/scss/abstracts/variables";

header {
  color: $white;
  text-align: center;
  .logo-area {
    padding: 1.5rem;
    .logo {
      max-width: 128px;
      max-height: 128px;
    }
  }
  .welcome {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.8rem;
    font-weight: $light-font;
  }
}